
.button
    text-decoration: none
    padding: 6px 25px
    border-radius: 25px
    max-height: 25px
    font-size: $tiny-text-size
    transition: $default-transition
    color: white
    background-color: $main-color
    cursor: pointer

    &:hover
        background-color: $main-light-color
    
    span
        margin-left: 5px
