.icons
    a
        margin-right: 15px
        cursor: pointer
        text-decoration: none

        i
            font-size: 1.7rem
            color: $main-color
            transition: $default-transition

        &:hover
            i
                color: $main-light-color