@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300&display=swap')

// color
$main-color: #dab222
$main-light-color: #CDBB7D

$blue-color: #4892c7
$blue-light-color: #7db3cd

$red-color: #ef5252
$red-light-color: #e8a6a6

// text
$text-light-color: black
$text-dark-color: white
// background
$back-light-color: #FFFBED
$back-dark-color: black
$black-blue-color: #edf3ff
$black-red-color: #ffefef

// font
$main-font: 'Alata', sans-serif
//imgs
$danlg-img: url('https://www.elsiglodetorreon.com.mx/m/i/2018/02/1035812.jpeg')
$img-size: 300px
$img-border: 3px solid $main-color
$img-radius: 50%
// positions
$top-space: 15rem
$content-width: 1000px
// texts
$big-text-size: 4rem
$mid-text-size: 3.5rem
$normal-text-size: 3rem
$small-text-size: 2rem
$tiny-text-size: 1rem
$normal-icon-size: 1.7rem
// transitions
$time-transition: 200ms
$default-transition: $time-transition ease-in-out
$delay-transition-1: $time-transition
$delay-transition-2: $time-transition * 1.5
$delay-transition-3: $time-transition * 2.5
// responsive
$small-screen: 576px
$medium-screen: 850px